@using DocumentApp.Data
@inject NavigationManager nManager
@inject DocumentApp.Services.MongoDBConnection mongoConnection
@inject IJSRuntime JS


<EditForm class="row g-3" Model="@currentUser">
<DataAnnotationsValidator></DataAnnotationsValidator>
<ValidationSummary></ValidationSummary>

    <div class="col-md-4">
            <label>Пароль:</label> <input type="password" placeholder="Пароль" class="form-control" @bind-value="@currentUser.Password"></input>
    </div>

    <div class="col-md-4">
        <label>Повторите пароль:</label> <input placeholder="Повторите пароль" class="form-control" @bind-value="@checkPassword"></input>
    </div>

    <div class="col-md-4">
            <label>Email:</label> <input placeholder="Email" class="form-control" @bind-value="@currentUser.Email"></input>
    </div>

    <div class="col-md-4">
            <label>Телефон:</label> <input placeholder="Телефон" class="form-control" @bind-value="@currentUser.Telephone"></input>
    </div>
    </EditForm>


@code {
    [Parameter]
    public User currentUser { get; set; }

    public string checkPassword = "";
}
