@page "/projectsPage"
@inject DocumentApp.Services.UserService userService
@inject NavigationManager nManager
@inject DocumentApp.Services.FileSystemService fileSysServ
@using DocumentApp.Data
@inject DocumentApp.Services.MongoDBConnection mongoConnection

<h3>ProjectsPage</h3>
@if(userService.currentUser is not null)
{

    @if (userService.currentUser.Role == Enums.RolesEnum.Customer)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Название проекта</th>
                    <th>Проектная организация</th>
                    <th>Организация застройщика</th>
                    <th>Отрасль</th>
                    <th>Перейти к проекту</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in mongoConnection.GetAllProjects())
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@mongoConnection.FindProjecterById(project.ProjecterId).ProjectOrganisation</td>
                        <td>@mongoConnection.FindDeveloperById(project.DeveloperId).DeveloperOrganisation</td>
                        <td>@project.ProjectDepartment</td>
                        <td><button class="btn btn-primary mb-3" onclick="@(() => GoToCreatedProject(project))">Go to project</button></td>
                    </tr>
                }
            </tbody>
        </table>

        <button class="btn btn-primary mb-3" @onclick="@(() => CreateNewProject())">Add new project</button>
    }

    @if (userService.currentUser.Role == Enums.RolesEnum.Developer)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Название проекта</th>
                    <th>Проектная организация</th>
                    <th>Организация застройщика</th>
                    <th>Отрасль</th>
                    <th>Перейти к проекту</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var project in mongoConnection.GetAllProjects().
            Where(x => x.DeveloperId == mongoConnection.FindDeveloperByLogin(userService.currentUser.Login).Id))
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@mongoConnection.FindProjecterById(project.ProjecterId).ProjectOrganisation</td>
                    <td>@mongoConnection.FindDeveloperById(project.DeveloperId).DeveloperOrganisation</td>
                    <td>@project.ProjectDepartment</td>
                    <td><button class="btn btn-primary mb-3" onclick="@(() => GoToCreatedProject(project))">Go to project</button></td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if (userService.currentUser.Role == Enums.RolesEnum.Projecter)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Название проекта</th>
                    <th>Проектная организация</th>
                    <th>Организация застройщика</th
                    <th>Перейти к проекту</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var project in mongoConnection.GetAllProjects().
            Where(x => x.ProjecterId == mongoConnection.FindProjecterByLogin(userService.currentUser.Login).Id))
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@mongoConnection.FindProjecterById(project.ProjecterId).ProjectOrganisation</td>
                    <td>@mongoConnection.FindDeveloperById(project.DeveloperId).DeveloperOrganisation</td>
                    <td>@project.ProjectDepartment</td>
                    <td><button class="btn btn-primary mb-3" onclick="@(() => GoToCreatedProject(project))">Go to project</button></td>
                </tr>
            }
            </tbody>
        </table>
    }
}


@code 
{
    void CreateNewProject()
    {
        fileSysServ.currentProject = new Project();
        nManager.NavigateTo("/projectPage");
    }

    void GoToCreatedProject(Project project)
    {
        fileSysServ.currentProject = project;
        nManager.NavigateTo("/projectPage");
    }
}
